.results {
  width: 100%;
  min-height: 100%;
  background-color: hsla(228, 33%, 97%, 1);
  padding: 48px 0;
  box-sizing: border-box;
  overflow-x: hidden;

  &__container {
    max-width: 1600px;
    box-sizing: border-box;
    padding: 0 32px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;

    header {
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 80px;
      border-radius: 25px;

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        strong {
          color: #185678;
        }
      }
    }

    .results__main {
      display: grid;
      height: 100%;
      grid-template-columns: [first] 25% [second] auto [end];
      column-gap: 32px;

      &__left {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        background-color: #ffffff;
        border-radius: 25px;
      }

      &__tabs {
        padding: 36px 0;
        width: 70%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
      }

      &__profile {
        padding: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 24px;
        border-bottom: solid 2px #6c6c6c;

        &__data {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          gap: 8px;
        }
        img {
          width: 70%;
          aspect-ratio: 1;
          border-radius: 50%;
        }

        .name {
          font-weight: bold;
          font-size: 24px;
          color: #424242;
        }

        .title {
          color: #6c6c6c;
          font-weight: 600;
          font-size: 18px;
        }

        .phone {
          font-weight: normal;
          font-size: 18px;
          color: #343534;
        }

        .location {
          font-weight: 600;
          font-size: 18px;
          color: #d8232a;
        }

        .email {
          font-weight: 500;
          font-size: 14px;
          color: #185678;
          word-break: break-all;
          text-decoration: underline;
        }

        .linkedin-url {
          font-weight: normal;
          font-size: 18px;
          color: #185678;
          text-decoration: underline;
        }
      }

      &__info {
        &__about {
          &.tab-panel--active {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 32px;
          }

          &__skills,
          &__summary {
            background-color: #ffffff;
            text-align: left;
            border-radius: 25px;
            padding: 50px 75px;
          }

          &__skills {
            &__list {
              margin-top: 36px;
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: flex-start;
              column-gap: 24px;
              row-gap: 32px;
            }
          }

          &__summary {
            &__content {
              margin: 32px 0;
            }
          }
        }

        &__experience {
          &.tab-panel--active {
            color: #343534;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 32px;
            background-color: #ffffff;
            text-align: left;
            border-radius: 25px;
            padding: 50px 75px;
          }

          &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
          }
        }

        &__education {
          &.tab-panel--active {
            color: #343534;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 32px;
            background-color: #ffffff;
            text-align: left;
            border-radius: 25px;
            padding: 50px 75px;
          }

          &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 32px;
          }
        }

        &__github {
          &.tab-panel--active {
            color: #343534;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 32px;
            background-color: #ffffff;
            text-align: left;
            border-radius: 25px;
            padding: 50px 75px;
          }
        }
      }
    }
  }
}
